Candidate: Andrés Felipe Bolaños Acosta <br>

Position: Business Intelligence Developer<br>

E-mail: afb.acosta@gmail.com<br>

Mobile phone: +5511973662765<br>

# Case 

The Dev Team was tired of developing the same old queries just varying the filters accordingly to their boss demands:

As a new member of the crew, your mission now is to create a dynamic function, on the most flexible of ways, to produce queries and retrieve a dataframe based on three parameters:

- product_code: integer
- store_code: integer
- date: list of ISO-like strings

<b> ANSWER: </b>

In [1]:
import mysql.connector
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings('ignore')

The first solution is implemented by employing the tool "mySQL conector" and "pd.read_sql". Both allow us to establish a direct connection to the database and make queries:

In [2]:
def retrieve_data(product_code, store_code, date):
    connection = (mysql.connector.connect(
                                     user = 'looqbox-challenge', 
                                     password = 'looq-challenge',
                                     host = '35.199.127.241',
                                     database = 'looqbox_challenge'))
    
    query = ("SELECT STORE_CODE, PRODUCT_CODE, "
                    "DATE, SALES_VALUE, SALES_QTY "       
             "FROM data_product_sales "
             "WHERE (STORE_CODE = '%s') " 
             "AND (PRODUCT_CODE = '%s') "
             "AND (DATE BETWEEN '%s' AND '%s') "
             % (store_code, product_code, date[0], date[1]))
    
    df_query = pd.read_sql(query, con = connection)
    return df_query

Testing the first approach:

In [3]:
product_code = 18
store_code = 18
date = ["2019-01-01", "2019-01-12"]

In [4]:
retrieve_data(product_code, store_code, date).tail(3)

   STORE_CODE  PRODUCT_CODE        DATE  SALES_VALUE  SALES_QTY
9          18            18  2019-01-10       1068.2       98.0
10         18            18  2019-01-11       1057.3       97.0
11         18            18  2019-01-12        806.6       74.0

However, a second approach has been implemented by just employing permitted actions from the tool "myqsl.connector", which becomes a sort of a raw version of the first function:

In [5]:
def retrieve_data(product_code, store_code, date):
    connection = (mysql.connector.connect(
                                   user = 'looqbox-challenge', 
                                   password = 'looq-challenge',
                                   host = '35.199.127.241',
                                   database = 'looqbox_challenge'))
    
    query = ("SELECT STORE_CODE, PRODUCT_CODE, "
                    "DATE, SALES_VALUE, SALES_QTY "       
                    "FROM data_product_sales "
                    "WHERE (STORE_CODE = '%s') " 
                    "AND (PRODUCT_CODE = '%s') "
                    "AND (DATE BETWEEN '%s' AND '%s') "
                    % (store_code, product_code, 
                       date[0], date[1]))
    
    cursor = connection.cursor()
    cursor.execute(query)
    items_query = cursor.fetchall()
    df_items_query = pd.DataFrame(items_query)
    
    if len(df_items_query) == 0:
        print("There are not a sales!" 
              " please check your query")
        return None
    
    else:
        query_columns = "SHOW COLUMNS FROM data_product_sales"
        cursor.execute(query_columns)
        query_columns = cursor.fetchall()
        cursor.close()
        
        lst_columns = []
        for i in range(len(query_columns)):
            lst_columns.append(query_columns[i][0])
            
        df_items_query.columns = lst_columns
        return df_items_query

Testing the implemented function:

In [6]:
product_code = 20
store_code = 20
date = ["2019-01-01", "2019-01-12"]

In [7]:
retrieve_data(product_code, store_code, date)

There are not a sales! please check your query

In [8]:
product_code = 18
store_code = 18
date = ["2019-01-01", "2019-01-12"]

In [9]:
retrieve_data(product_code, store_code, date).tail(3)

   STORE_CODE  PRODUCT_CODE        DATE SALES_VALUE SALES_QTY
9          18            18  2019-01-10     1068.20        98
10         18            18  2019-01-11     1057.30        97
11         18            18  2019-01-12      806.60        74